.PhotoFrame {
  width: 100%;
  height: auto;
  min-height: 300px;
  border: 2px solid black;
  border-radius: 12px;
  margin: 8px 0;
  background-image: url("/dog_image_placeholder.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
