.ResultsList {
  padding: 24px 8px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
}

@media (min-width: 40rem) {
  .ResultsList {
    width: 30%;
  }
}

@media (min-width: 40rem) and (max-width: 60rem) {
  .ResultsList {
    width: 92%;
  }
}
