# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# classifier model assets
dbc_stanford_10_23.pb

# misc
Notes.md
.vscode
/.vscode
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.ipynb_checkpoints

npm-debug.log*
yarn-debug.log*
yarn-error.log*
