.ResultInfo {
  padding: 24px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
}

.matchSummary {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 8px 0;
  box-shadow: 1px 1px 1px 1px rgba(255, 255, 255, 0.75);
  padding: 12px;
  border: 1px solid black;
  background-color: white;
}

.matchSummary p {
  margin-top: 0;
  margin-bottom: 0;
  text-align: left;
}

.matchSummary__breed {
  font-size: 20px;
}

.matchSummary__percentage {
  font-size: 14px;
}

.matchSummary__rank {
  font-size: 14px;
}

@media (min-width: 40rem) {
  .ResultInfo {
    width: 30%;
  }
}

@media (min-width: 40rem) and (max-width: 60rem) {
  .ResultInfo {
    width: 45%;
  }
}
