.DogClassifier {
  margin: auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  width: 100%;
}

.PhotoController {
  flex-flow: 1 1 30%;
}

.ResultsController {
  flex-flow: 2 1 auto;
}

@media (min-width: 40rem) {
  .DogClassifier {
    flex-flow: row nowrap;
  }
}
