.DogClassifer {
  margin: 0;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 64px;
  padding-bottom: 8px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.Main {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  width: 100%;
}

.flexBreak {
  flex-basis: 0%;
  height: 0;
}

.Reset {
  border: 1px solid #eee;
  border-radius: 8px;
  width: 80%;
  box-shadow: 0 2px 3px #ccc;
  padding: 8px;
  margin: 8px 8px;
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.75);
}

@media (min-width: 40rem) {
  .Main {
    flex-flow: row wrap;
  }

  .Reset {
    width: 30%;
  }
}

@media (min-width: 40rem) and (max-width: 60rem) {
  .Main {
    flex-flow: row wrap;
    justify-content: center;
    align-items: stretch;
  }

  .flexBreak {
    flex-basis: 100%;
  }
}
